{% extends 'base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>summer</title>
</head>
{% block body %}
    <div class="container  align-items-center text-info">
        <h2>The year consists of four periods.</h2><br>
        <h2>Each of the periods is unique.</h2><br>
        <div class="d-flex align-items-center text-info">
            <h2>Nature is constantly undergoing a process of change.</h2><br>
         <h2>Everything happens cyclically, it repeats.</h2><br>
         <h2>This is the essence of life in nature.</h2><br>
        </div>
    </div>
{% endblock %}
</html>