{% extends 'base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>summer</title>
</head>
{% block body %}
<div class="container p-3 mb-2 bg-warning text-white">
<h1>Summer</h1>
    <h3>By meteorological convention, summer includes June, July and August in the northern hemisphere and December, January and February in the southern hemisphere. According to meteorological definitions, all seasons can arbitrarily begin at the beginning of a calendar month and end at the end of the month. This meteorological definition of summer is also in line with the conventional notion of summer as a season with the longest (and warmest) days of the year dominated by daylight.</h3>
</div>
{% endblock %}
</html>