{% extends 'base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>autumn</title>
</head>
{% block body %}
<div class="container p-3 mb-2 bg-secondary text-white">
<h1>Autumn</h1>
    <h3>In autumn, warm weather changes to cold, and the main harvest is also carried out. These images predominate in art and literary works dedicated to autumn. In Western cultures, autumn is usually personified as a lovely plump lady adorned with fruits, vegetables, and cereals that are ripe by then. Many ancient civilizations celebrated harvest in the fall, often one of the most important holidays in their calendars. Echoes of those times are Thanksgiving in the United States and Jewish Sukkot, rooted in the full moon harvest festival.</h3>
    <img class="container text-center" src="/static/foto/o.png" alt="" width="400" height="350">
</div>
{% endblock %}
</html>