{% extends 'base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spring</title>
</head>
{% block body %}
<div class="container p-3 mb-2 bg-success text-white">
<h1>Spring</h1>
    <h3>As phenological signs of the beginning and end of spring, various authors propose various annually recurring natural phenomena. So, the onset of spring is proposed to be counted from the beginning of snow melting from the sun, the appearance of the first thawed patches in the fields, the appearance of icicles on the roofs of unheated premises, the appearance of the first streams that do not freeze at night, the resumption of vegetation of plants or their individual species.</h3>
    <img class="container text-center" src="/static/foto/w.png" alt="" width="400" height="350">
</div>
{% endblock %}
</html>