{% extends 'base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>winter</title>
</head>

{% block body %}
<div class="container p-3 mb-2 bg-primary text-white">
    <h1>Winter</h1>
    <h3>The duration of winter as a climatic season with the lowest air temperatures for a given territory differs depending on the geographic latitude, the distance of the Earth from the Sun, the amount of precipitation, proximity to ocean currents, etc. The closer the geographic latitude to the equator, the shorter the winter. In subtropical latitudes, winter lasts 1-2 months, in temperate - 3-4, in polar - 6-7 or more months, and in tropical latitudes, winter does not exist in this sense.</h3>
    <img class="container text-center" src="/static/foto/z.png" alt="" width="400" height="300">
</div>
{% endblock %}
</html>
